/* Grundlegende Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

form {
  background-color: #fff;
  width: 90%;
  max-width: 500px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

input, select, textarea, button {
  width: 100%;
  padding: 15px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

input:focus, select:focus, textarea:focus {
  border-color: #007bff;
}

textarea {
  resize: none;
  height: 100px;
}

button {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding: 15px;
  font-size: 1.2rem;
  border-radius: 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

#deadline-container {
  display: none;
}

/* Mobile First Ansatz */
@media (max-width: 768px) {
  form {
    padding: 20px;
    gap: 15px;
  }

  input, select, textarea, button {
    padding: 12px;
    font-size: 0.9rem;
  }
}
